@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: url("../public/bg.svg");
}

.heroBg1 {
    background-image: url("../public/herosecBG1.svg");
}

.heroBg2 {
    background-image: url("../public/herosecBG2.svg");
}

.servicesBg{
    background-image: url("../public/services.svg");
}

.showCaseBg{
    background-image: url("../public/showCaseBG.svg");
}
.showCaseBg3{
    background-image: url("../public/3BG.svg");
}